// FONTS 

@import url('https://fonts.googleapis.com/css?family=Allura|Montserrat:300,400&display=swap');

// LAYOUT

* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: $font-std;
    font-weight: 300;
    background: #222;
}

.country {
    overflow: hidden;
    height: 51px;
    background: #20272f;
    transition: height .2s;
    &.active {
        height: 170px;
    }
}

.country__header {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    border-bottom: 1px solid #797979;
    background: #373b47;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    .province {
        margin-left: 3px;
        font-weight: 300;
        color: rgba($c-white, 0.6);
    }
}

.country__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px 0;
    color: rgba($c-white, 0.8);
    list-style-type: none;
    li {
        margin: 5px 0;
    }
}