@media (min-width: 768px) {
    .countries__header {
        display: grid;
    }
    .country {
        &.active {
            height: auto;
        }
        height: auto;
        display: grid;
        grid-template-columns: 25% auto;
        border-bottom: 1px solid #797979;
    }
    .country__header {
        background: transparent;
        border: 0;
    }
    .country__text {
        grid-template-columns: 1fr 1fr 1fr;
        .key {
            display: none;
        }
    }
}

@media (max-width: 599px) {

}

@media (max-width: 467px) {
}
